@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Caladea', sans-serif;
}


/*Início da sessão codada pelo Arthur */

.top-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
}

.explore {
    font-size: 2rem;
    font-family: 'Caladea', sans-serif;
    color: #06241B;
    font-weight: 700;
}

.top-c {
    font-family: 'Caladea', sans-serif;
    color: #7F56D9;
    font-weight: 700;
    font-size: 2rem;
}

.small-text {
    font-family: 'Inter', sans-serif;
    color: #7E7EAA;
    font-weight: 500;
    font-size: 1rem; 
    margin-top: -1rem; 
}

.categories {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #06241B;
    font-size: 1.1rem;
}

.little-card {
    width: 10rem;
    height: 10rem;
    border-radius: 1.6rem;
    border: 0.2rem solid #dadaf780;
    background-color: #F6F6FC;
}

.little-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 1.5rem; 
}

.little-card a img {
    width: 4.5rem;
    height: 4.5rem;
}

.pic-n-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 5rem;
    margin-left: 25vh;
    margin-right: 25vh;
}

.textinho-um {
    font-family: Caladea;
    font-weight: 700;
    font-size: 2rem;
    color:#1D1D45;
    margin-bottom: 0;
}

.textinho-dois {
    font-family: Caladea;
    font-weight: 700;
    font-size: 2rem;
    color: #7F56D9;
    margin-top: 0;
}

.nomes-pequenos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.pequeno {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Inter;
    font-weight: 600;
    color: #7E7EAA;
    
}
.pequeno img {
    width: 32px;
    height: 32px;
    padding: 0.5rem;
}

.textão {
    font-family: Inter;
    font-weight: 400;
    color: #7E7EAA;
    margin-top: 1rem;
    padding-top: 0.5rem;
}

#saiba-mais {
    border-radius: 47px;
    gap: 8px;
    background-color: #7F56D9;
    color: #fff;
    height: 3rem;
    width: 8rem;
    font-family: Inter;
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 78vh;
    margin-top: -3rem;
    padding-top: 0;
}

/*Fim da sessão codada pelo Arthur */

/* Início da sessão codada pelo Angelo */
@media screen and (min-width: 1500px) { 
    .container {
        .segunda-linha, .terceira-linha {
            width: fit-content;
            margin-left: 10rem;
            margin-right: 10rem;
        }

        .segunda-linha .card-1 .card-content-2 h3{
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .segunda-linha .card-1 .card-content-2 {
            margin: 2.1rem;
        }

        .segunda-linha .card-1 {
            padding-bottom: 4.4rem;
        }

        .card-content-2 br {
            display: none;
        }
}
}

.container{
    position: relative;
    width: 100%;
    border-radius: 100px;
    background: rgba(235, 235, 245, 0.30);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    


}
.primeira-linha {
    display: flex;
    justify-content:space-between;
    width: fit-content;
    
}



.coluna-1 h1{
    width: 926px;
    color: #06241B;
    font-family: Caladea;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 0.5rem;
}

.coluna-1 p {
    min-width: 811px;
    height: 40px;
    color: #7E7EAA;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-top: 8px;
    margin-bottom: 76px;
}

.coluna-1 span {
    color: #7F56D9;
    font-family: Caladea;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}

.coluna-2 {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.coluna-2 a {
    margin-left: 12px;
    color: #7E7EAA;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 5px;
    border-bottom: solid 2px #7E7EAA;
    text-decoration-line: none;
}

.coluna-2 img {
    width: 1.18rem;
    height: 1.18rem;
    margin-left: 0.75rem;
}

.segunda-linha, .terceira-linha {
    width: 100%;
    display: flex;
    justify-content: space-between
    
}

.card-info {
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-info p {
    margin-left: 1rem;
    width: 92px;
    height: 16px;
    color: #1F1F39;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
}

.card {
    width: 30%;
    height: 50%;
    padding-bottom: 4rem;
    border-radius: 30px;
    background: #FFF;
    border-radius: 30px 30px 30px 30px;
    margin: 0 36px 52px;
    
}

img {
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: auto;
}

div.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.play1 {
    background-color: #24D198;
}

.play2 {
    background-color: #00C1FF;
}

.play3 {
    background-color: #F15568 
}

.play4 {
    background-color: #7F56D9
}

.play5 {
    background-color: #FF6905 
}

.play6 {
    background-color: #4883FF
}

.card-info img {
    width: 10.931px;
    height: 10px;
    padding: 8px;
    border-radius: 50%;
}

img[alt="classificação de 4 estrelas"] {
    width: 104px;
    height: 17px;
}



.card-content-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
}

.card-content-2 {

    margin: 2.25rem;
    color: #06241B;
    font-family: Caladea;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;

}
.card-footer {
    width: 100%;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}



.teacher-info {
    margin: 0;
    display: flex;
    position: relative;
    top: 1rem;
    align-items: center;
}

.teacher-info p {
    margin: 0.45rem;
    

}

.teacher-info p:first-child {
    color: #1F1F39;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.12rem;
    margin-bottom: 0;
}

.teacher-info p:last-child {
    color: #7E7EAA;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.12rem;
    margin-top: 0;
}

.category {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17.5px;
}

.design-category{
    display: flex;
    background-color: #24D198;
    color: #FFF;
    border-radius: 17.5px;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    padding: 0.5rem 0.8rem;
}

.programming-category{
    display: flex;
    background-color: #00C1FF;
    color: #FFF;
    border-radius: 17.5px;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    padding: 0.5rem 0.8rem;
}

.leadership-category {
    display: flex;
    background-color: #F15568;
    color: #FFF;
    border-radius: 17.5px;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    padding: 0.5rem 0.8rem;    
}

.marketing-category {
    display: flex;
    background-color: #7F56D9;
    color: #FFF;
    border-radius: 17.5px;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    padding: 0.5rem 0.8rem;
}

.finance-category {
    display: flex;
    background-color: #FF6905;
    color: #FFF;
    border-radius: 17.5px;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    padding: 0.5rem 0.8rem;
}

.language-category {
    display: flex;
    background-color: #4883FF;
    color: #FFF;
    border-radius: 17.5px;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    padding: 0.5rem 0.8rem;
}


hr {
    width: 67%;
    height: 1px;
    background: #DADAF7;
    margin: 0 auto;
}

img[alt="triângulo de pontas arredondadas"] {
    position: relative;
    right: 6rem;
}

h3 {
    font-size: 1.78rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #06241B;
    font-family: Caladea;
}


